<<<<<<< HEAD
header {
	background-color: #FF0000;
	height: 70px;
	width: 100%;
=======
header{
    background-color: #FF0000; height: 70px;width:100%;
>>>>>>> f898eec889e0dbfb228eab15a05b441f8fcc86d9
}
