.places h1 {
    font-size: 30px;
}
.article-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.article-box {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}
.article-box h2 {
    font-size: 30px;
}
